<h2 id="title">Race Results!</h2>

{{#each model as |finisher|}}
  {{finisher.name}}: {{finisher.placement}}{{ordinal-for finisher.placement}} place
  <hr>
{{/each}}

<h2>Race Results (programatically)!</h2>

{{#each programaticPlaces as |finisher|}}
  {{finisher.name}}: {{finisher.placement}} place
  <hr>
{{/each}}


{{outlet}}
